/hashtable/test
/hashtable/test.out
/btree/rec/test
/btree/rec/test.out
/btree/iter/test
/btree/iter/test.out
/btree/exa/test_iter
/btree/exa/test_iter.out
/btree/exa/test_rec
/btree/exa/test_rec.out
